name: 주식 리포트 자동 발송

on:
  schedule:
    - cron: '30 23 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: 파이썬 설정
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: 라이브러리 설치
        # 띄어쓰기 오해를 없애기 위해 명령어를 분리했습니다.
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt

      - name: 봇 실행
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python bot.py
